.details {
    background: #F4F6F8;
    border-top-left-radius:40px;
    border-top-right-radius:40px;
    padding:54px 0 72px;
    
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__left {
        display: flex;
        gap:91px;
    }

    &__description {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #292929;
    }


    &__list {
        display: flex;
        flex-direction: column;
        gap:16px;
        padding-top:25px;
        
    &__items {
        list-style:none;
        font-weight:500;
        font-style:Medium;
        font-size:18px;
        color: $secondary_color;
    }
    }

    &__btn {
        @include contact-btn;
        @include buttons;
    }
}

.location {
    &__details {
    display: flex;
    align-items: center;
    gap:10px;
    margin-top:16px;
    }

    &__description {
    font-weight:400;
    font-size:16px;
    line-height:22px;
    color:#292929;
    }
}

.company-logo {
    height:61px;
    width:232px;
    margin-bottom:16px;
}

.mobile {
    &__nav {
    border:1px solid red;
    flex-direction:column;
    gap:5px;
    display:none;
    }

    &__list {
        @extend .details__list;
        margin-top: 0;
        &__items {
        @extend .details__list__items;
    }
}
}