.details {
    background: #F4F6F8;
    border-top-left-radius:40px;
    border-top-right-radius:40px;
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__left {
        display: flex;
        gap:91px;
    }

    &__description {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #292929;
    }


    &__list {
        display: flex;
        flex-direction: column;
        gap:16px;
        padding-top: 15px;
        
    &__items {
        list-style:none;
        font-weight:500;
        font-style:Medium;
        font-size:18px;
        line-height:26px;
        color: $secondary_color;
    }

    }

}

.location {
    &__details {
    display: flex;
    align-items: center;
    gap:10px;
    margin-top:16px;
    }

    &__description {
    font-weight:400;
    font-size:16px;
    line-height:22px;
    color:#292929;
    }
}


.company-logo {
    height:61px;
    width:232px;
    margin-bottom:16px;
}

