.header {
    background-image: url(../img/header_bg_img.png) ;
    background-repeat: no-repeat;
    max-width:1920px;
    margin:auto;
    height:750px;
}

.header-car-img {
    position:absolute;
    width:100%;
    height: auto;
    top:-190px;
    left:50px;
}

// header + nav
.nav {
    &__wrapper {
    display:flex;
    justify-content: space-between;   
    align-items: center; 
    }

    &__logo {
        &__img {
        width: 263px;
        height: 69px;
        }
    }

    &__right {
    display: flex;
    gap:55px;
    }

    &__list {
        display: flex;
        gap:48px;

        &__items {
        list-style: none;
        font-weight:500;
        font-style:Medium;
        font-size: 16px;
        color:#242424;
        }
    }

    &__contact {
        display: flex;
        align-items: center;
    }
}

.burger-btn {
    width: 32px;
    height:32px;
    padding:7px 2px;
    background: transparent;
    border: none;
    img {
    width:24px;
    height:17px;
    }
}


.contact-btn {
    @include buttons;
    width: 236px;
    height: 58px;
    border-radius:8px;
    border: none;
    font-family:'Poppins';
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    display: flex;
    gap:6px;
    align-items: center;
    justify-content: center;

    &__img {
    height:20px;
    width:20px;
    }
    &__tel {
        color: #fff;
        text-decoration: none;
    }
}

// header + main
.main-info {
    margin-top:61px;

    &__wrapper {
        position: relative;
    }

    &__box {
    width:650px;
    height:495px;
    border-radius: 24px;
    border-width: 1px;
    background: rgba(255, 255, 255, 0.64);
    padding: 40px 0 0 40px;
}

    &__benefits {
        display: flex;
        flex-direction: column;

        &__options {
            list-style: none url(../svg/selected_logo.svg) inside;
            color:$secondary_color;
            font-weight:600;
            font-size:26px;
        }

        &__options--differ {
            padding:0 0 20px 0
        }

        &__dif-option {
            display: flex;
            align-items:center;
            gap:5px;
            @extend .main-info__benefits__options;
        }
    }


    &__bottom-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap:25px;
        margin-top:15px;
    }

    &__socials {
    display: flex;
    gap:25px;
    }

    &__button {
        @extend .contact-btn;
        
    }
}

.rental-content {
    font-weight: 800;
    font-size: 70px;
    line-height: 90px;
}

.align-last-content {
    padding:0 25px;
}

.consultation-content {
    @extend .contact-btn__tel;
}



// mobile + tab responsivness
.mobile-responsive {
    display:none;
}