// header + nav
.nav {
    &__wrapper {
    display: flex;
    justify-content: space-between;   
    align-items: center; 
    }

    &__logo {
        &__img {
        width: 263px;
        height: 69px;
        }
    }

    &__right {
    display: flex;
    gap:55px;
    }

    &__list {
        display: flex;
        gap:48px;

        &__items {
        list-style: none;
        font-weight:500;
        font-style:Medium;
        font-size: 16px;
        color:#242424;
        }
    }
}


.contact-btn {
    @include buttons;
    width: 236px;
    height: 58px;
    border-radius:8px;
    border: none;
    font-family:'Poppins';
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    display: flex;
    gap:6px;
    align-items: center;
    justify-content: center;

    &__img {
    height:20px;
    width:20px;
    }
    &__tel {
        color: #fff;
        text-decoration: none;
    }
}

// header + main-info

