* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

.container {
  max-width: 1426px;
  margin: auto;
}

.header {
  background-image: url(../img/header_bg_img.png);
  background-repeat: no-repeat;
  max-width: 1920px;
  margin: auto;
  height: 750px;
}

.header-car-img {
  position: absolute;
  width: 100%;
  height: auto;
  top: -190px;
  left: 50px;
}

.nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo__img {
  width: 263px;
  height: 69px;
}
.nav__right {
  display: flex;
  gap: 55px;
}
.nav__list {
  display: flex;
  gap: 48px;
}
.nav__list__items {
  list-style: none;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  color: #242424;
}
.nav__contact {
  display: flex;
  align-items: center;
}

.burger-btn {
  width: 32px;
  height: 32px;
  padding: 7px 2px;
  background: transparent;
  border: none;
}
.burger-btn img {
  width: 24px;
  height: 17px;
}

.contact-btn, .main-info__button {
  background: #FA002C;
  color: #FFFFFF;
  width: 236px;
  height: 58px;
  border-radius: 8px;
  border: none;
  font-family: "Poppins";
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: center;
}
.contact-btn__img {
  height: 20px;
  width: 20px;
}
.contact-btn__tel, .consultation-content {
  color: #fff;
  text-decoration: none;
}

.main-info {
  margin-top: 61px;
}
.main-info__wrapper {
  position: relative;
}
.main-info__box {
  width: 650px;
  height: 495px;
  border-radius: 24px;
  border-width: 1px;
  background: rgba(255, 255, 255, 0.64);
  padding: 40px 0 0 40px;
}
.main-info__benefits {
  display: flex;
  flex-direction: column;
}
.main-info__benefits__options, .main-info__benefits__dif-option {
  list-style: none url(../svg/selected_logo.svg) inside;
  color: #000000;
  font-weight: 600;
  font-size: 26px;
}
.main-info__benefits__options--differ {
  padding: 0 0 20px 0;
}
.main-info__benefits__dif-option {
  display: flex;
  align-items: center;
  gap: 5px;
}
.main-info__bottom-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 15px;
}
.main-info__socials {
  display: flex;
  gap: 25px;
}
.rental-content {
  font-weight: 800;
  font-size: 70px;
  line-height: 90px;
}

.align-last-content {
  padding: 0 25px;
}

.mobile-responsive {
  display: none;
}

.order-process {
  background: #F4F6F8;
  padding-top: 80px;
}
.order-process__title, .contacts__title, .free-consultation__title, .purchasement-priority__heading, .speed-calculation__title {
  font-weight: 700;
  font-style: Bold;
  font-size: 50px;
  line-height: 69px;
  color: #000000;
}
.order-process__summary {
  margin-top: 24px;
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  color: #3D3D3D;
}
.order-process__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.order-process__cards {
  border-right: 3px dashed #FA002C;
  border-bottom: 3px dashed #FA002C;
  padding-bottom: 30px;
}
.order-process__cards__top {
  display: flex;
  gap: 34px;
  align-items: center;
}
.order-process__cards__description {
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  line-height: 26px;
  color: #FA002C;
  margin-top: 24px;
}
.order-process__cards--differ {
  border-right: none;
}
.order-process__cards--differ-place {
  padding-left: 40px;
}
.order-process__cards--differ-place-top {
  padding-top: 51px;
}

.cards-numbers {
  font-weight: 700;
  font-style: Bold;
  font-size: 60px;
  color: #FA002C;
}

.speed-calculation {
  padding: 100px 0;
  background: #F4F6F8;
}
.speed-calculation__title {
  margin-bottom: 42px;
}
.speed-calculation__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
}
.speed-calculation__cards {
  border-radius: 36px;
  padding: 48px 40px;
  background: white;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.2);
}
.speed-calculation__cards__title {
  font-weight: 600;
  font-size: 30px;
  line-height: 100%;
}
.speed-calculation__cards__info {
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  margin: 24px 0 108px;
}
.speed-calculation__cards__prize, .prize-number {
  font-weight: 600;
  font-size: 36px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.speed-calculation__cards--background-img {
  background-image: url(../img/kia-mohave.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
}

.prize-number {
  font-size: 60px;
}

.cards-description {
  color: #666666;
  margin-top: 16px;
  line-height: 26px;
}
.cards-description__morecontent {
  margin-bottom: 40px;
}
.cards-description__lesscontent {
  margin-bottom: 120px;
}

#horizontal-rule {
  background-color: #C2C2C2;
  border: 1px solid #C2C2C2;
  margin: 100px 0 0 0;
}

.overall-cost {
  padding-bottom: 100px;
  background: #F4F6F8;
}
.overall-cost__list {
  display: flex;
  flex-direction: column;
  gap: 26px;
  align-items: end;
}
.overall-cost__list__items, .overall-cost__list__items--differ {
  list-style: none;
  font-weight: 400;
  font-size: 30px;
  color: #000000;
  display: flex;
  align-items: center;
  gap: 70px;
}
.overall-cost__list__items--differ {
  gap: 60px;
}

.key__prize, .rf__prize {
  font-weight: 600;
  font-size: 60px;
  color: #FA002C;
}
.key__currency, .rf__currency {
  font-weight: 600;
  font-size: 36px;
}

.rf__prize {
  color: #000000;
}
.purchasement-priority {
  padding: 100px 0;
}
.purchasement-priority__wrapper {
  display: flex;
  gap: 30px;
}
.purchasement-priority__left {
  display: flex;
  gap: 90px;
}
.purchasement-priority__list {
  display: flex;
  flex-direction: column;
}
.purchasement-priority__list__items {
  list-style: none;
  font-weight: 600;
  font-size: 18px;
  color: #000000;
  border-bottom: 1px solid #C2C2C2;
  padding: 30px 0;
  display: flex;
  align-items: center;
  gap: 30px;
}
.purchasement-priority__list__items--noborder {
  border-bottom: none;
}
.purchasement-priority__list__items--differ {
  color: #FA002C;
}

.honest__racing {
  margin-top: 15px;
  box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.1215686275);
  width: 461px;
  height: 559px;
  border-radius: 36px;
  padding: 15px 15px 30px;
}
.honest__title {
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  color: #000000;
}
.honest__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #292929;
  margin: 14px 0 24px;
}
.honest__buttons {
  display: flex;
  gap: 12px;
}
.honest__bottom-contents {
  padding-left: 19px;
}

.arrow-left, .arrow-right {
  width: 60px;
  height: 60px;
  border: 1px solid #D3D3D3;
  border-radius: 50px;
  background: transparent;
}

.arrow-right {
  border: 1px solid #FA002C;
}

.audi_img {
  width: 431px;
  height: 270px;
  border-radius: 26px;
}

.free-consultation__wrapper {
  background: url(../img/hyundai.png);
  padding: 70px 72px 73px;
  border: 7px solid #E7E7E7;
  border-radius: 20px;
}
.free-consultation__button {
  background: #FA002C;
  color: #FFFFFF;
  box-shadow: 0px 12px 60px 0px rgba(250, 0, 44, 0.4);
  width: 301px;
  height: 72px;
  border-radius: 14px;
  border: none;
}

.expert-name {
  color: #FA002C;
}

.recomendation {
  margin: 24px 0 50px;
  font-weight: 400;
  line-height: 22px;
  color: #292929;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
}

.contacts {
  padding: 110px 0;
}
.contacts__wrapper {
  display: flex;
  justify-content: space-between;
}
.contacts__cards {
  border: 7PX solid rgba(250, 0, 44, 0.2);
  border-radius: 36px;
  border-width: 7px;
  border-radius: 36px;
  width: 706px;
  height: 498px;
  padding: 23px 20px 44px;
}
.contacts__cards__bottom {
  display: flex;
  margin-top: 30px;
  justify-content: center;
}
.msc_location {
  width: 658px;
  height: 320px;
}

.branch__title {
  font-weight: 500;
  font-style: Medium;
  font-size: 30px;
  color: #000000;
}
.branch__location {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}

.tel_number {
  font-weight: 600;
  font-size: 30px;
}

.details {
  background: #F4F6F8;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding: 54px 0 72px;
}
.details__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.details__left {
  display: flex;
  gap: 91px;
}
.details__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #292929;
}
.details__list, .mobile__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 25px;
}
.details__list__items, .mobile__list__items {
  list-style: none;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  color: #000000;
}
.details__btn {
  width: 236px;
  height: 58px;
  border-radius: 8px;
  border: none;
  font-family: "Poppins";
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: center;
  background: #FA002C;
  color: #FFFFFF;
}

.location__details {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 16px;
}
.location__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #292929;
}

.company-logo {
  height: 61px;
  width: 232px;
  margin-bottom: 16px;
}

.mobile__nav {
  border: 1px solid red;
  flex-direction: column;
  gap: 5px;
  display: none;
}
.mobile__list {
  margin-top: 0;
}
@media (max-width: 1426px) {
  .container {
    max-width: 1024px;
    border: 1px solid red;
  }
  .header-car-img {
    top: -60px;
    left: 100px;
  }
  .nav__list {
    display: none;
  }
  .nav__logo {
    order: 2;
  }
  .nav__logo__img {
    width: 168px;
    height: 44px;
  }
  .nav__right {
    order: 1;
  }
  .contact-btn, .main-info__button {
    display: none;
  }
  .mobile-responsive {
    display: block;
  }
  .main-info__benefits__options, .main-info__benefits__dif-option {
    font-weight: 600;
    font-size: 20px;
  }
  .main-info__button {
    background: #FA002C;
    color: #FFFFFF;
    width: 236px;
    height: 58px;
    border-radius: 8px;
    border: none;
    font-family: "Poppins";
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: center;
  }
  .rental-content {
    font-size: 50px;
    line-height: 70px;
  }
  .details__list, .mobile__list {
    padding-top: 60px;
  }
  .order-process__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
  }
  .order-process__cards--differ {
    border-right: 3px dashed #FA002C;
  }
  .order-process__cards--differ-place {
    padding-left: 0;
  }
  .order-process__cards--differ-place-top {
    padding-top: 0;
  }
  .speed-calculation__wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
  }
  .speed-calculation__cards {
    padding: 38px 30px;
  }
  .speed-calculation__cards__info {
    font-size: 14px;
  }
  .contacts__cards {
    width: 49%;
    height: 420px;
    border-radius: 24px;
    border-width: 7px;
  }
  .branch__title {
    font-size: 2vw;
  }
  .msc_location {
    width: 100%;
    height: 70%;
  }
  .tel_number {
    font-size: 2vw;
  }
}
@media (max-width: 1024px) {
  .container {
    padding: 20px;
  }
  .header-car-img {
    display: none;
  }
  .purchasement-priority__left {
    display: none;
  }
  .audi_img {
    width: 100%;
    height: auto;
  }
  .honest__racing {
    margin-top: 15px;
    padding-bottom: 0;
    height: 480px;
  }
  .honest__racing__buttons {
    display: none;
  }
  .honest__title {
    font-size: 20px;
    margin-top: 20px;
  }
  .honest__description {
    font-size: 16px;
    margin: 10px 0;
  }
  .details__wrapper {
    gap: 10px;
  }
  .details__left {
    gap: 10px;
  }
  .details__list, .mobile__list {
    padding-top: 70px;
  }
  .details__list__items, .mobile__list__items {
    font-size: 1.9vw;
  }
}
@media (max-width: 800px) {
  .container {
    padding: 0 20px;
  }
  .header {
    background-image: url(../img/mobile-respon-img.png) cover;
    width: 100%;
    margin: auto;
    height: auto;
  }
  .header-car-img {
    display: none;
  }
  .main-info__box {
    width: 100%;
    border-radius: 0;
    border: 0;
    background: transparent;
    padding: 0;
  }
  .mobile-hidden {
    display: none;
  }
  .order-process__title, .speed-calculation__title, .purchasement-priority__heading, .free-consultation__title, .contacts__title {
    font-size: 34px;
    line-height: 50px;
  }
  .order-process__summary {
    font-size: 18px;
    line-height: 100%;
  }
  #horizontal-rule {
    display: none;
  }
  .speed-calculation {
    padding: 50px 0;
  }
  .speed-calculation__wrapper {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
  .speed-calculation__title {
    font-size: 34px;
    line-height: 50px;
  }
  .speed-calculation__cards {
    padding: 28px 20px;
  }
  .speed-calculation__cards__info {
    font-size: 14px;
  }
  .speed-calculation__cards__prize, .prize-number {
    font-size: 24px;
  }
  .prize-number {
    font-size: 50px;
  }
  .red-lines {
    display: none;
  }
  .overall-cost__list {
    align-items: center;
  }
  .overall-cost__list__items, .overall-cost__list__items--differ {
    flex-direction: column;
    gap: 4px;
  }
  .reorder-in-mobile {
    order: 2;
    font-size: 2vw;
  }
  .key__prize, .rf__prize {
    font-size: 5vw;
  }
  .key__currency, .rf__currency {
    font-size: 3vw;
  }
  .purchasement-priority__heading {
    font-size: 34px;
    line-height: 50px;
  }
  .free-consultation__wrapper {
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 42px 43px;
  }
  .free-consultation__title {
    font-size: 4vw;
    line-height: 100%;
  }
  .free-consultation__button {
    width: 201px;
    height: 52px;
  }
  .recomendation {
    margin: 16px 0 24px;
    font-size: 2vw;
    list-style: 100%;
  }
  .contacts__cards {
    padding: 12px 12px;
    height: 298px;
  }
  .msc_location {
    height: 50%;
  }
  .tablet-hidden {
    display: none;
  }
}
@media (max-width: 510px) {
  .details__wrapper {
    flex-direction: column;
    align-items: start;
    gap: 50px;
  }
  .main-info {
    margin-top: 47px;
  }
  .main-info__box {
    padding: 0;
  }
  .main-info__bottom-wrapper {
    justify-content: center;
  }
  .main-info__benefits {
    display: flex;
    flex-direction: column;
  }
  .main-info__benefits__options, .main-info__benefits__dif-option {
    font-size: 6vw;
  }
  .rental-content {
    font-size: 10vw;
    line-height: 50px;
  }
  .contacts__wrapper {
    flex-direction: column;
    gap: 16px;
  }
  .contacts__cards {
    width: 100%;
    height: 50%;
  }
  .msc_location {
    width: 100%;
    height: auto;
  }
  .tel_number {
    font-size: 2.5vw;
  }
  .direction-instruction {
    font-size: 2vw;
  }
  .mobile__nav {
    display: flex;
  }
  .mobile__list__items {
    font-size: 18px;
  }
}/*# sourceMappingURL=styles.css.map */