@media (max-width:800px) {
.container {
    padding:0 20px;
}

// header  
 .header {
     background-image: url(../img/mobile-respon-img.png) cover ;
     width:100%;
     margin:auto;
     height:auto;
 }

.header-car-img {
    display: none;
    }

.main-info {
    &__box {
    width:100%;
    border-radius:0;
    border:0;
    background:transparent;
    padding:0;  
    }
}

.mobile-hidden {
    display: none;
}


// section order-process
.order-process {
    &__title {
        font-size:34px;
        line-height:50px;
    }

    &__summary {
        font-size:18px;
        line-height:100%;
    }
}

// section  speed-calculation
#horizontal-rule {
    display: none;
}

.speed-calculation {
    padding:50px 0;

    &__wrapper {
    grid-template-columns: repeat(1,1fr);
    gap:30px;
    }

    &__title {
        font-size:34px;
        line-height:50px;
    }

    &__cards {
    padding:28px 20px;
    
    &__info {
        font-size:14px;
    }

    &__prize {
        font-size:24px;
    }
    }
}

.prize-number {
    font-size:50px;
}

// section overall-cost
.red-lines {
    display: none;
}

.overall-cost {
    &__list {
    align-items: center;
    &__items {
        flex-direction:column;
        gap:4px;
    }
}

}

.reorder-in-mobile {
    order: 2;
    font-size:2vw;
}

.key {
    &__prize {
    font-size:5vw;
    }

    &__currency {
    font-size:3vw;
    }
}

// section purchasement priority
.purchasement-priority {
    &__heading {
    font-size:34px;
    line-height:50px;
    }
}




// section free-consultation
.free-consultation {
    &__wrapper {
    background-position:center right;
    background-repeat: no-repeat;
    background-size: cover;
    padding:40px 42px 43px;
    }

    &__title {
        font-size:4vw;
        line-height:100%;
    }

    &__button {
    width: 201px;
    height: 52px;
    }
}

.recomendation {
    margin: 16px 0 24px;
    font-size:2vw;
    list-style:100%;
}

// section contacts

.contacts {
    &__cards {
    padding: 12px 12px;
    height:298px;
    }
}
.msc_location {
    height:50%;
}

// footer 
.tablet-hidden {
    display:none;
}

}




@media (max-width:510px) {
    .details {
        &__wrapper {
            flex-direction:column;
            align-items: start;
            gap:50px;
        }
    }
   .main-info {
        margin-top:47px;

        &__box {
        padding:0;
        }

        &__bottom-wrapper {
        justify-content:center;
        }


           &__benefits {
        display: flex;
        flex-direction: column;

        &__options {
            font-size:6vw;
        }

        }
    } 

    .rental-content {
    font-size:10vw;
    line-height:50px;
}

// section contacts

.contacts {
    &__wrapper {
        flex-direction: column;
        gap:16px;
    }

    &__cards {
    width:100%;
    height:50%;
    } 
    
}

.msc_location {
    width:100%;
    height:auto;
}

.tel_number {
    font-size:2.5vw;
}

.direction-instruction {
    font-size:2vw;
}





// footer
.mobile {
    &__nav {
        display:flex;
    }   

    &__list {
        &__items {
            font-size:18px;
        }
    }
}


}