// 320px - 640px - mobile - sm 
// 641px - 767px - tablet - md 
// 768px - 1023px - katta tablet va PC - lg
// 1024px - 1179px - katta tablet va PC - xl
// 1280px - 1535px - PC - 2xl

@media (max-width:1426px) {
    .container {
        max-width: 1024px;
    }

// header
    .header-car-img {
    top:-60px;
    left:100px;
    }

    .nav {
        &__list {
            display: none;
        }

        &__logo {
            order:2;
            &__img {
            width:168px;
            height:44px;   
            }
        }

        &__right {
            order: 1;
        }
    } 

    .contact-btn {
        display: none;
    }

    .mobile-responsive {
        display:block;
    }


    .main-info {
        &__benefits {
            &__options {
            font-weight:600;
            font-size:20px;
        }
        }

        &__button {
        @include buttons;
        @include contact-btn;
    }    


    }

    .rental-content {
    font-size:50px;
    line-height:70px;
    }

    .details {
        &__list {
        padding-top:60px;
        }
    }


// section guidess
.guides {
    &__wrapper {
        border: none;
        flex-direction:column;
    }
    
    &__instructions {
    display: flex;
    flex-wrap: wrap;
    
    &__items {
    box-shadow: 0px 2px 30px 0px #0000001F;
    padding:20px;
    border-radius: 16px;
    height:auto;
    width:100%;
    }
}

}

.form {
    height: auto;
}

.input-number {
    height: 72px;
    padding:26px 0 26px 24px;
    margin-bottom: 16px;
    outline: none;
    @include input-text;

    &::placeholder {
        @include input-text;
    }

}

// section oreder-process 
.order-process {
    &__wrapper {
        display:flex;
        flex-wrap:wrap;
        justify-content: center;
        gap:100px;
    }

      &__cards--differ {
    border-right: 3px dashed $primary_color;
    }

    &__cards--differ-place {
        padding-left:0;
    }

      &__cards--differ-place-top {
        padding-top:0;
    }
}

// section speed-calculation
.speed-calculation {
    &__wrapper {
    grid-template-columns: repeat(2,1fr);
    gap:18px;
    }

    &__cards {
    padding:38px 30px;
    
    &__info {
    font-size:14px;
    }
}
}


// section contacts
    .contacts {
    &__cards {
    width:49%;
    height:420px;
    border-radius: 24px;
    border-width: 7px;
    } 
    }

.branch {
    &__title {
        font-size:2vw;
    }
}

.msc_location {
    width:100%;
    height:70%;
}

.tel_number {
    font-size:2vw;
}




}




@media (max-width:1024px) {
.container {
padding:20px;
}

.header-car-img {
  display: none;
}



// section purchasement priority
.purchasement-priority {
    &__left {
        display: none;
    }
}

.audi_img {
    width: 100%;
    height: auto;
}

.honest {
    &__racing {
    margin-top: 15px;
    padding-bottom:0;
    height:480px;

    &__buttons {
        display:none;
    }
    }

    &__title {
    font-size:20px;
    margin-top: 20px;
    }

    &__description {
    font-size: 16px;
    margin: 10px 0;
    }  
}


// footer

.details {
    &__wrapper {
    gap:10px;
    }

    &__left {
    gap:10px;
    }

    &__list {
    padding-top:70px;
    &__items {
        font-size:1.9vw;
    }
    }
}

}