.popular-cars {

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__cards {
    width:461px;
    height:764px;
    border-radius: 36px;
    box-shadow: 0px 2px 50px 0px #0000001F;
    padding: 15px 15px 30px;
    
    &__info {
        margin-top:24px;
    
    &__title {
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    color:$secondary-color;
    }

    &__details {
    display: flex;
    flex-direction: column;
    gap:10px;

    &__items {
    list-style:none;
    font-weight:400;
    font-size: 16px;
    color:$secondary-color;
    }

    }

    }
}


}


.kia-k5-img {
    width:431px;
    height:270px;
    border-radius:7px;
}

.cars-details {
    font-weight: 600;
    font-size: 16px;
    color:&secondary-color;
}
