.purchasement-priority {
    padding: 100px 0;
    &__heading {
    @extend .order-process__title;
    }

    &__wrapper {
        display: flex;
        gap:30px;
    }

    &__left {
        display: flex;
        gap:90px;
    }

    &__list {
        display: flex;
        flex-direction:column;

    &__items {
    list-style: none ;
    font-weight: 600;
    font-size: 18px;
    color: $secondary_color;
    border-bottom: 1px solid #C2C2C2;
    padding: 30px 0;
    display: flex;
    align-items: center;
    gap:30px;
    }

    &__items--noborder {
        border-bottom: none;
    }

    &__items--differ {
    color:$primary_color;
    }
    }
}



.honest {
    &__racing {
    margin-top: 15px;
    box-shadow: 0px 2px 50px 0px #0000001F;
    width: 461px;
    height:559px;
    border-radius: 36px;
    padding: 15px 15px 30px;
    }

    &__title {
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    color:$secondary_color;
    }

    &__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #292929;
    margin: 14px 0 24px;
    }  
    
    &__buttons {
        display: flex;
        gap:12px;
    }

    &__bottom-contents {
        padding-left:19px;
    }
}

.arrow-left {
    width: 60px;
    height:60px;
    border:1px solid #D3D3D3;
    border-radius: 50px;
    background: transparent;
}

.arrow-right {
    @extend .arrow-left;
    border: 1px solid $primary_color;
}



.audi_img {
    width: 431px;
    height:270px;
    border-radius: 26px;
}